.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 100px;
    max-width: 1000px;
    position: relative;
    z-index: 0;
  }
  
  .input {
    width: 30px;
    height: 30px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
  }
  .input:hover {
    cursor: pointer;
  }
  .input::before, .input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C3E50;
    width: 4vw;
    height: 5px;
    max-width: 50px;
  }
  .input::before {
    left: calc(-4vw + 12.5px);
  }
  .input::after {
    right: calc(-4vw + 12.5px);
  }

  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
  }
  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }
  .input span::after {
    content: attr(data-year);
    top: 25px;
    text-align: center;
    width: 50px;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .input span::before {
    content: attr(data-info);
    top: 70px;
    left: -13px;
    width: 70px;
    /* transform: translateX(-5px) rotateZ(-45deg); */
    font-size: 12px;
    text-indent: -10px;
  }
  
  .description-flex-container {
    width: 80vw;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: 1000px;
  }
  .description-flex-container p {
    margin-top: 0;
    display: none;
  }
